In [1]:
import pandas as pd
import numpy as np
from scipy import stats as sts
from matplotlib import pyplot as plt

In [3]:
wine_data = pd.read_csv('Resources/Wine Production By Country.csv', delimiter=';')
wine_data.head()

         Country  wine_unit  Year
0         France    4293466  2013
1          Italy    4107370  2013
2  United States    3217000  2013
3          Spain    3200000  2013
4          Chile    1832000  2013

In [9]:
countries = wine_data['Country'].unique()
print(f'There are {len(countries)} in wine data df.')
print(f'The countires are: ', countries)

There are 72 in wine data df.
The countires are:  ['France' 'Italy' 'United States' 'Spain' 'Chile' 'China' 'Argentina'
 'Australia' 'South Africa' 'Germany' 'Portugal' 'Russia' 'Greece'
 'Brazil' 'Hungary' 'New Zealand' 'Austria' 'Serbia' 'Ukraine' 'Bulgaria'
 'Moldova' 'Romania' 'Georgia' 'Switzerland' 'Japan' 'Macedonia' 'Peru'
 'Uruguay' 'Czech Republic' 'Algeria' 'Canada' 'Croatia' 'Turkmenistan'
 'Uzbekistan' 'Morocco' 'Slovakia' 'Turkey' 'Tunisia' 'Belarus' 'Slovenia'
 'Kazakhstan' 'Albania' 'Mexico' 'Montenegro' 'Lebanon' 'Cuba' 'Cyprus'
 'Luxembourg' 'Bolivia' 'Madagascar' 'Azerbaijan' 'Armenia' 'Lithuania'
 'Israel' 'Egypt' 'Bosnia and Herzegovina' 'Belgium' 'Malta' 'Latvia'
 'Kyrgyzstan' 'Zimbabwe' 'Paraguay' 'Ethiopia' 'Jordan' 'United Kingdom'
 'Tajikistan' 'Panama' 'Syria' 'Liechtenstein' 'Vietnam' 'Libya' 'Estonia']